*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #191919;
}

a{
    text-decoration: none;
    color: #fff;
}

button{
    border:none;
    border-radius: 50px;
    background-color: #cf8c29;
    padding: 5% 10%;
    font-size: 14px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.navbar-interaction{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar>img{
    margin-left: 2%;
}

.navbar-link{
    color: #a4abb4;
    margin-left: 5px;
}

.navbar-buttons{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.contact-button{
    background-color: white;
}

.signin-button{
    background-color: black;
    color: white;
}

.samedaydelivery-section{
    margin: 6% 3% 0% 3%;
}

.section-navbar{
    display: flex;
    justify-content: space-around;
    color: #a4abb4;
    border-bottom: solid 1px #a4abb4;
}

.section-navbar-link{
    padding: 1.5%;
}

.section-content{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.textbox-left{
    width: 50%;
    margin: 5% 2%;
}

.textbox-left-description{
    padding-right: 20%;
}

.description-subtitle{
    font-size: 14px;
    color: #a4abb4;
}

.description-title{
    font-size: 38px;
    color: white;
    padding-top: 2%;
}

.description-text{
    font-size: 18px;
    color: white;
    padding: 5% 0%;
}

.textbox-left-button{
    padding: 1% 3%;
}

.textbox-percentage-boxes{
    margin-top: 5%;
    display: flex;
}

.percentage-box{
    border-left: solid 1px #cf8c29;
    vertical-align: middle;
    padding-left: 5%;
}

.percentage{
    font-size: 58px;
    color: white;
}

.percentage-text{
    font-size: 16px;
    color: white;
    margin-top: 10%;
    padding-right: 5%;
}

.percentage-author{
    font-size: 12px;
    color: white;
    margin-top: 5%;
}

.textbox-right{
    width: 50%;
    background-color: #373A25;
}

.textbox-right > img{
    width: 100%;
    height: auto;
}

.textbox-right-description{
    padding: 0% 5%;
}

.right-description-subtitle{
    font-size: 14px;
    color: white;
    margin-top: 8%;
}

.right-description-title{
    font-size: 36px;
    color: white;
    margin-top: 2%;
}

.right-description-link{
    width: fit-content;
    font-size: 14px;
    color: white;
    margin: 20% 0 5% 0;
    border-bottom: dotted 1px white;
}

.future-section{
    margin-top: 10%;
    margin-left: 2%;
    display: flex;
}

.future-section-image{
    width: 50%;
}

.future-section-image > img{
    width: 100%;
    height: auto;
}

.flexibility-section{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.textbox-left-title{
    font-size: 44px;
    color: white;
    vertical-align: middle;
}

.flexibility-textbox-right{
    width: 50%;
    margin-top: 5%;
    margin-right: 2.5%;
}

.flexibility-subsection{
    border-top: solid 1px white;
    display: flex;
    align-items: center;
}

.flexibility-subsection > img{
    margin-left: 5%;
}

.subsection-content{
    margin-left: 10%;
}

.content-title{
    padding-top: 15%;
    font-size: 24px;
    color: white;
}

.subsection-button{
    margin: 5% 0 10% 0;
    padding: 2% 5%;
}

.insights-section{
    margin: 5%;
}

.insights-section-header{
    display: flex;
    justify-content: space-between;
}

.insights-section-header__title{
    font-size: 20px;
    color: white;
}

.article-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insight-section-article{
    margin-top: 5%;
    padding: 0 2.5%;
    box-sizing: border-box;
    width: 25%;
    border-left: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-tag{
    font-size: 14px;
    color: white;
}

.article-title{
    font-size: 20px;
    color: white;
}

.insight-section-article > img{
    margin-top: auto;
    padding: 15% 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.article-link{
    width: fit-content;
    font-size: 18px;
    color: white;
    border-bottom: dotted 1px white;
}






